
/* Fonts */

/* https: //fonts.google.com/specimen/Montserrat */

@font-face {
    font-family: 'Montserrat-extra-bold';
    src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-regular';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-light';
    src: url('../fonts/Montserrat/static/Montserrat-Light.ttf');
    font-display: swap;
}

/*--------------- General ----------------*/

html {
    font-size: 16px;
    scroll-behavior: smooth;
    color: white;
}
body * {
    font-family: 'Montserrat-regular', Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

hr {
    margin: auto;
    width: 25%;
    height: 1.5px;
    border: none;
}

h1 {
    font-size: clamp(1.5rem, 10vmin, 6rem);
    font-family: 'Montserrat-extra-bold';
}

h2 {
    font-size: clamp(0.8rem, 4vmin, 2.4rem);
    font-family: 'Montserrat-regular';
    letter-spacing: 5px;
}

p {
    font-size: clamp(1rem, 2.6vmin, 1.6rem);
    font-family: 'Montserrat-light';
}

.no-margin {
    margin: 0;
}

/*--------------- Scroll Bar ----------------*/

html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #DEF2F1;
}

html::-webkit-scrollbar-thumb:active {
    background-color: #F3FFFF;
}


html::-webkit-scrollbar-track {
        background-color: #2B2B2B;
}

/*--------------- Colours ----------------*/

.color1 {
    background-color: rgba(251, 129, 34, 1);
}

.color1-text {
    color: rgba(251, 129, 34, 1);
}

.color2 {
    background-color: rgba(29, 34, 40, 1);
}

.color2-text {
    color: rgba(29, 34, 40, 1);
}

.color3 {
    background-color: rgba(52, 58, 64, 1);
}

.color3-text {
    color: rgba(52, 58, 64, 1);
}


.black {
    background-color: #1e1e1e;
}

.black-text {
    color: #1e1e1e;
}

.white {
    background-color: white;
}

.white-text{
    color: white;
}

/*--------------- Text ----------------*/

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.extra-bold {
    font-family: 'Montserrat-extra-bold';
}

/*--------------- Header ----------------*/

.index {
    width: 100%;
    min-width: 150px;
    height: 100vh;
    min-height: 350px;
    position: relative;
    background-position: center;
    background-size: contain;
    position: relative;
}


/*--------------- Navbar ----------------*/

#navbar {
    display: flex;
    padding: 1.5% 4%;
    margin-bottom: 300px;
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: rgba(29, 34, 40, 1);
    font-size: 1.5rem;
    font-weight: 900;
}

#navbar * {
    color: white;
    letter-spacing: 2.5px;
}

#navbar a:before {
    content: "";
    height: 1px;
    width: 0%;
    background-color: rgba(251, 129, 34, 1);
    display: block;
    margin: auto;
}

#navbar a:hover:before {
    width: 50%;
    transition: 0.3s ease-in;
}

.navbar-options a {
    position: relative;
    display: inline-block;
}

.navbar-options {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: right;
}

.navbar-options li {
    display: inline-block;
    padding: 0px 15px;
}

.logo {
    flex: 0.2;
    text-align: center;
}

#navbar .socials {
    flex: 0.15;
    text-align: center;
    display: flex;
    justify-content: center;
}

#navbar .socials a {
    padding: 0 5%;
}

.menu-crossx {
    width: 100%;
    color: white;
    padding: 15% 0;
    display: none;
}

.menu-bars {
    display: none;
}

/*--------------- Introduction ----------------*/

.portrait {
    max-width: 400px;
    max-height: 500px;
}

.introduction {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
}

.introduction-content {
    display: flex;
    flex-direction: column;
}

.introduction-content * {
    margin: 1.5% 0;
    text-align: right;
}

.introduction-content h2:hover {
    color: rgba(251, 129, 34, 1);
    transition: 0.25s;
}

.introduction-heading {
    text-align: center !important;
}

/*--------------- Page Content ----------------*/

.section {
    width: 100%;
}

.content {
    width: 80%;
    max-width: 1600px;
    margin: auto;
    text-align: center;
}

.content-large{
    width: 90%;
}

.section-padding {
    padding: clamp(50px, 5%, 150px) 0;
}

.sub-section,
.sub-section-left,
.sub-section-right {
    display: flex;
    align-items: center;
    position: relative;
}

.sub-section-left,
.sub-section-right {
    flex: 0.8;
    margin: 0 2.5%;
    justify-content: center;
}

.sub-section h2 {
    font-size: clamp(1.5rem, 6vmin, 3rem);
    font-weight: 900;
}

.sub-section-padding {
    padding: clamp(50px, 5%, 150px) 0;
}

.sub-section-text {
    margin-right: 10%;
}

.section-column {
    flex-direction: column;
}

.section-right-bottom {
    align-items: flex-end;
}

.section-left-top {
    align-items: flex-start;
}

.information > p {
    padding: 3%;
}

.information > h1 {
    padding: 0 3% 3%;
}

.vertical-line {
    width: 0.25%;
    background-color: white;
    align-self: stretch;
    margin-left: 2%;
}

/*--------------- Footer ----------------*/

.footer p {
    font-size: clamp(0.85rem, 2.21vw, 1.36rem);
}

.footer p {
    padding-top: 2%;
    padding-bottom: 1%;
}

.footer .socials {
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: clamp(0.85rem, 2.21vw, 1.36rem);
}

.footer .socials a {
    padding: 0 .5%;
    color: white;
}

.footer .socials i:hover {
    color: rgba(251, 129, 34, 1);
}

/*--------------- Responsive ----------------*/

@media(max-width: 1150px) or (max-height: 600px) {
    #navbar {
        flex-direction: column;
        width: 60vmin;
        height: 100vh;
        position: fixed;
        align-items: flex-start;
        justify-content: center;
        right: 0;
        z-index: 1;
        display: none;
        overflow-y: auto;
        direction: rtl;
        background-color: rgba(29, 34, 40, 1);
        font-size: clamp(0.75rem, 9vmin, 2.5rem);
        font-weight: 100;
        padding: 0 2% 0 0;
        z-index: 11;
    }

    #navbar * {
        letter-spacing: 0;
    }

    .navbar-options {
        flex: 0;
        width: 100%;
        margin: 10% auto;
    }

    #navbar .socials {
        order: 2;
        flex: 0;
        padding-right: 6%;
    }
    .logo {
        display: none;
    }

    .navbar-options li {
        display: block;
        padding: 5% 0%;
    }   
    .menu-crossx {
        display: block;
        width: clamp(1rem, 9vmin, 2.5rem);
        padding: 0;
        float: right;
    }

    .menu-bars {
        width: 100%;
        max-width: 30px;
        display: block;
        margin-right: 5%;
        margin-top: 5%;
        position: fixed;
        right: 0;
        z-index: 10;
    }

    .portrait {
        width: 65vmin;
        min-width: 100px;
    }

    #navbar::-webkit-scrollbar {
        width: 1vw;
    }

    #navbar::-webkit-scrollbar-thumb {
        background-color: #DEF2F1;
    }

    #navbar::-webkit-scrollbar-thumb:active {
        background-color: #F3FFFF;
    }


    #navbar::-webkit-scrollbar-track {
        background-color: #2B2B2B;
    }
}

@media(max-width: 720px) {

    .sub-section-left, .sub-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .sub-section-right {
        flex-direction: column-reverse;
    }

    .sub-section * {
        text-align: center;
    }

    .sub-section .vertical-line {
        display: none;
    }
}

@media(max-width: 480px) {
    
    .introduction {
        flex-direction: column-reverse;
    }

    .introduction-content {
        margin-top: 5%;
    }

    .introduction-content * {
        text-align: center;
    }

    .portrait {
        width: 50vmin;
    }
}