/*--------------- About Me ----------------*/

.about-title {
    flex: 0.2;
    position: relative;
}


.about-img {
    width: clamp(25px, 40vmin, 400px);
}

/*--------------- Graph ----------------*/

.graph-container {
    flex: 0.8;
    display: grid;
    grid-template-columns: 10% 80%;
}

.graph-content {
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    padding-bottom: 5%;
}

.graph-content * {
    color: rgba(0, 0, 0, 1);
}

.graph-bar {
    height: clamp(25px, 7.5vh, 80px);
    width: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    margin: 3% 0;
    background-color: rgba(251, 129, 34, 1);
}

#x-axis {
    grid-column: 2;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

#y-axis {
    text-align: right;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.graph-container h3 {
    font-size: clamp(0.8rem, 3vmin, 2.4rem);
}

#Cpp {
    width: 70%;
}

#Csharp {
    width: 70%;
}

#Jscript {
    width: 60%;
}

#Html {
    width: 80%;
}

#Css {
    width: 80%;
}

@media(max-width: 720px) {
    .about-img {
        width: clamp(50px, 75vmin, 300px);
    }

    .about-title h2 {
        margin: 0 0 15%;
    }

    .graph-container {
        width: 80%;
    }
}