<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sam James</title>

    <!-- metadata -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="2nd year Computer Science student at Falmouth University Cornwall. Love to code and build things. ">
    <meta name="author" content="Sam James">
    <meta name="keywords" content="software engineer, portfolio, student, coding, programming, C++, C#, JavaScript">

    <!-- Fontawesome logos: https://fontawesome.com/-->
    <script src="https://kit.fontawesome.com/72dcaa571b.js" crossorigin="anonymous"></script>
    <!-- Navigation bar responsive-->
    <script type="text/javascript" src="../javascripts/navbar.js" defer></script>

    <!-- stylesheets -->
    <link rel="stylesheet" href="../stylesheets/styles.css" />
    <link rel="stylesheet" href="../stylesheets/cards.css" />
    <link rel="stylesheet" href="../stylesheets/button.css"/>
  </head>

  <body>
    <!------------------ HEADER/NAVBAR ---------------------->

    <header class="index color3">
      <!-- header -->
      <div class="navigation">
        <nav id="navbar">
          <!-- navbar -->
          <img
            class="menu-crossx"
            src="../assets/ui/cross.png"
            alt="Button to hide menu on small screen devices."
            onclick="hideMenu()"
          />
          <a class="logo" href="index.html" aria-label="Home Page">SAM JAMES</a>
          <!-- logo -->
          <div class="socials">
            <!-- social logos-->
            <a href="#" aria-label="Github"><i class="fa fa-github"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
            <a href="#" aria-label="Discord"><i class="fa-brands fa-discord"></i></a>
          </div>
          <div class="navbar-options">
            <!-- selection navbar-->
            <ul>
              <li><a href="index.html" aria-label="Home Page">HOME</a></li>
              <li><a href="about.html" aria-label="About Page">ABOUT</a></li>
              <li><a href="projects.html" aria-label="Projects Page">PROJECTS</a></li>
              <li><a href="contact.html" aria-label="Contact Page">CONTACT</a></li>
            </ul>
          </div>
        </nav>
        <img
          class="menu-bars"
          id="menubar"
          src="../assets/ui/bars.png"
          alt="Button to show navbar on small screen devices"
          onclick="showMenu()"
        />
      </div>

      <!------------------ INTRODUCTION ---------------------->

      <div class="introduction">
        <div class="introduction-content">
          <!-- Introduction text-->
          <h1>Hi, I'm <i class="extra-bold color1-text">Sam</i></h1>
          <h2>Programmer</h2>
          <h2>Computer Scientist</h2>
          <h2>Software Engineer</h2>
          <div class="btn-container-small-screen">
            <!-- Contact me button -->
            <button onclick="location.href='../contact.html'" class="btn-default btn-introduction" alt="Button to view contact me page.">Get in touch >
            </button>
          </div>
        </div>
        <!-- Photo of me-->
        <img class="portrait" src="../images/photo of me.png" alt="Image showing portrait of myself."/>
      </div>
    </header>

    <!------------------ ABOUT ME ---------------------->

    <section>
      <div class="section color2">
        <div class="content section-padding information white-text">
          <h1>A Little About Me</h1>
          <hr class="white">
          <p>
            Hi there, my name is Sam James, and I am currently a 2nd year BSc
            Computer Science student studying at Falmouth University. I have
            experince in programming and web design.
          </p>
          <div class="btn-container"> <!-- Find more about me button -->
            <button onclick="location.href='../about.html'" class="btn-default btn-about" alt="Button to view about me page.">Find out more ></button>
          </div>
        </div>
      </div>

    <!------------------ PROJECTS ---------------------->

      <div class="section color3">
        <div class="content section-padding information white-text">
          <h1>Projects</h1>
          <hr class="white">
          <p>Check out some of my previous projects!</p>
          
          <%- include ("partials/cardgen") %> <!-- dynamically generated project cards -->

          <div class="btn-container"> <!-- See more of my projects button -->
            <button onclick="location.href='../projects.html'" class="btn-default btn-about" alt="Button to view projects page.">See More ></button>
          </div>

          </div>
        </div>

      <!------------------ FOOTER ---------------------->

      <footer class="section color2">
        <div class="content footer white-text">
          <p>Sam James Copyright 2022 ©</p>
          <div class="socials">
            <!-- social logos-->
            <a href="#" aria-label="Github"><i class="fa fa-github" name="github"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
            <a href="#" aria-label="Discord"><i class="fa-brands fa-discord"></i></a>
          </div>
        </div>
      </footer>
    </section>
  </body>
</html>
